.offers_cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.offers_cards .card {
  color: var(--text-secondary-color);
  background-color: #000000;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 16px;
  text-align: center;
}

.offers_cards .card header {
  display: block;
  background-color: transparent;
  position: static;
  padding: 0;
  margin-bottom: 24px;
}

.offers_cards .card header p {
  font-size: 20px;
  font-weight: var(--text-weight);
}
.offers_cards .card header h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
  margin: 8px 0 0;
}

.offers_cards .card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.offers_cards .card.japao {
  background: url(../img/bg-card-japao.jpg) no-repeat;
  background-size: cover;
}

.offers_cards .card .san-andreas {
  background: url(../img/bg-card-san-andreas.jpg) no-repeat;
  background-size: cover;
}

.offers_cards .card.manaus {
  background: url(../img/bg-card-manaus.jpg) no-repeat;
  background-size: cover;
}

.offers_cards .card.paraiba {
  background: url(../img/bg-card-paraiba.jpg) no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .offers_cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .offers_cards .card {
    width: 420px;
  }
  .offers_cards .card header h3 {
    font-size: 48px;
  }

  .offers_cards .card header span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1440px){
  .offers_cards .card {
    width: 588px;
  }
}

@media screen and (min-width: 1920px ){
  .offers_cards{
    width: 1250px;
    margin: auto;
  }
}
